---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navegador from '../components/Navegador.astro';
import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Botonera from '../components/Botonera.astro';
import Video_card from '../components/Video_card.astro';
import Tarjeta_capitulo from '../components/Tarjeta_capitulo.astro';
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"></meta>
  

</head>
<body>
<div>
<img src="../../portadafn.png" alt="">
</div>

<div>
<h1 class="px-40 pb-10 pt-20 bold font-bold text-3xl">
    HISTÓRICA CAÍDA DEL MURO FRONTERIZO</h1>
    <p class="px-40 pb-10 text-2xl bold">
        Millones de latinos confluyen espontáneamente hacia la frontera entre México y los Estados
        Unidos para derribar el muro, dando origen a las Naciones Unidas de América
</p>

    <p class="px-40 pb-10 text-2xl">
        A partir de la incorporación definitiva de Puerto Rico a los Estados Unidos, los hechos se precipitaron a lo largo de todo el
        continente como cadena de dominós. Latinos autoconvocados, en su mayoría mexicanos, centroamericanos y caribeños,
        arribaron en multitudinarias columnas desde ambos lados de la frontera, armados de palas, picos y mazas domésticas, con
        intención de no dejar un solo ladrillo en pie, llevándose para casa un souvenir de la histórica demolición. Todo bajo la mirada
        cómplice y la asistencia de la Border Patrol, la misma que pocos meses atrás se dedicara afanosamente a impedir su ingreso
        para devolverlos a sus respectivos países. Tiraron abajo el muro que les impedía acceder al sueño americano, con la misma
        rabia y esperanza con que cuatro décadas atrás fuera derribado el muro de Berlín
    </p>
   <div>
    <iframe style="width: 1000px; height:500px; border:solid; border-color:blue; margin: auto; padding top:50px;" src="https://www.youtube.com/embed/KZLO5fEautA"  allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
    </div>
<div>
    <p class="px-40 pt-10  text-2xl">
        Casi sin darnos cuenta, los Estados Unidos terminaron de devorarse por completo a su vecino del sur del Rio Grande. Pero
        esto no sería todo, ya que, tras la histórica caída del Muro Fronterizo, la presidenta Kamala Harris se reunió con las máximas
        autoridades de Canadá, México, El Salvador, Guatemala, Costa Rica, Belice, República Dominicana, Santa Lucía y el Ecuador,
        para firmar el acta fundacional de las Naciones Unidas de América. La oportunidad de entrar al primer mundo por la puerta
        grande se abría para los sufridos países de Centro, Sudamérica y el Caribe, agobiados por deudas externas impagables y
        estructuras económicas neocoloniales, oportunidad que debían aprovechar antes que la puerta volviera a cerrarse para siempre
    </p>
</div>

</div>
<div class="flex">
    <div class="w-1/2">
    <p class="pl-40 w-full text-2xl">
        Encendidas manifestaciones colman las plazas intimando a sus
        respectivos gobiernos a no quedar afuera del proyecto geopolítico
        más importante del milenio, revueltas populares y rebeliones
        armadas, golpes militares y policiales, masacres y guerras civiles…
        el continente se presenta convulsionado hasta sus cimientos, sin
        que nadie pueda prever el rumbo ni permanecer al margen de los
        acontecimientos: Invasión Norteamericana a Venezuela y linchamiento
        de Nicolás Maduro, señores de la guerra repartiéndose territorio
        colombiano y jefes narcos alzados en Paraguay, nueva guerra
        fratricida entre Haití y República Dominicana, comunidades mapuches
        masacradas en la Cordillera de los Andes y campesinos expropiados
        en el Amazonas, resurgimiento del Kollasuyo en Bolivia y sur del Perú,
        guerra civil en Argentina y Chile, golpes de estado en Nicaragua y
        Brasil, plebiscitos vinculantes en una docena de países y ley marcial
        desde Alaska hasta el Cabo de Hornos…
    </p>
</div>

    <div class="px-6 mr-20" style="width:650px;">
    <img src="../../mapauna.png" alt="">
</div>
</div>
<div>
    <p  class="pl-40 pb-40 w-full text-2xl">Las posiciones a favor o en contra de la incorporación al Imperio Americano parecen irreconciliables, destinadas a enfrentarse
        hasta las últimas consecuencias, manifestándose en el seno de cada familia y descuartizando a la sociedad. La reestructuración
        de nuestro continente huele a sangre y fuego, cobrándose el sacrificio de cientos de miles de víctimas inocentes</p>
</div>


<div class="m-auto w-40 pt-50" >
    <a class="mr-30" href=" /"><img src="../../botones_volver.jpg"/></a>
    </div>
 
    <div>
        <Footer />
    </div>
 
</body>
</html>