---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Botonera from '../components/Botonera.astro';
import Video_card from '../components/Video_card.astro';
import Tarjeta_capitulo from '../components/Tarjeta_capitulo.astro';
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"></meta>
  

</head>
<body>
<img src="../../portadacap4.png" />
<div class="px-20 py-6 m-auto text-8xl text-justify">
<h1 style="font-size:100px; margin:auto; font-family: Arial, Helvetica, sans-serif; color: rgb(30, 76, 154);">
    La noche interminable
</h1>
</div>
<div class="px-20 m-auto text-2xl text-justify">
<p style="margin:auto; font-family: Arial, Helvetica, sans-serif; color: rgb(30, 76, 154);">
    El Juez Rosenkrantz asumió la Presidencia de la Nación, instaurando el 
    estado de sitio y anunciando la suspensión de las elecciones
</p>
<p style="padding-bottom:20px; margin:auto; font-family: Arial, Helvetica, sans-serif; color: rgb(30, 76, 154);">
    El asalto frustrado al Sanatorio de la Trinidad, al Palacio de Justicia y a Casa Rosada, 
    dejó un saldo de más de seiscientos muertos y miles de heridos, tras una semana de intensos combates. 
    El Juez Rosenkrantz juró como Primer Mandatario tras las renuncias de Alberto Fernández y
     la presidenta de la Cámara de Diputados, instaurando inmediatamente el estado de sitio, anunciando 
     la suspensión de las elecciones generales y la realización de un plebiscito para decidir la 
     incorporación definitiva del territorio argentino a las Naciones Unidas de América, en un lapso 
     de sesenta días. Todos los focos rebeldes habían sido sofocados, abarrotando las cárceles de 
     luchadores sociales y dirigentes gremiales; se decretó el arancelamiento de hospitales, escuelas 
     y universidades, el fin del sistema previsional, la disolución de organizaciones sindicales y 
    la prohibición de manifestaciones en el espacio público, todo desde la primer semana de gobierno
</p>
</div>
<div class="m-auto px-20">
<img src="../../rozenk.png" alt="">
</div>
<div class="px-20 m-auto text-2xl text-justify">
    <p style="padding-top:20px; margin:auto; font-family: Arial, Helvetica, sans-serif; color: rgb(30, 76, 154);">
        Brigadas de jóvenes libertarios patrullan el conurbano bonaerense cazando “zurdos” y “planeros” 
        al grito de: “¡Viva la libertad, carajo!”. Escraches a militantes políticos, alentados por
         influencers de ultraderecha, alcanzan su paroxismo con el linchamiento de dos funcionarios
         municipales en Traslasierra. Según la opinión de Javier Milei, flamante ministro de economía:
    </p>
</div>
<div class="flex">
    <div class="px-10 m-auto text-4xl text-justify">
        <p style="margin:auto; font-family: Arial, Helvetica, sans-serif; color: rgb(30, 76, 154);">
            ·Quienes hayan chupado <br>
             la sangre del estado durante <br>
             toda su vida, <br>
            sin haber trabajado <br>
            jamás para el sector privado,<br>
             merecen ir presos hasta pagar <br>
             su deuda con la sociedad<br>
              mediante trabajos forzados”
    </p>
</div>
    <img src="../../darthmilei.png" class="w-1/4">
</div>
<div class="px-20 py-10 m-auto text-2xl text-justify">
    <p style="margin:auto; font-family: Arial, Helvetica, sans-serif; color: rgb(30, 76, 154);">
        Crece el número de detenidos judicializados de la Túpac Amaru, luego que Milagros Sala,
         condenada a perpetua, se fugara a Bolivia. Las comunidades mapuches del Lago Mascardi son masacradas
          a sangre fría por un comando de Gendarmería, fiel a Patricia Bullrich. Terratenientes extranjeros
           contratan ejércitos mercenarios para proteger sus latifundios, exigiendo al Pentágono 
           las garantías mínimas para asegurar el derecho básico a la propiedad privada de los inversores 
           norteamericanos en la Patagonia y el Acuífero Guaraní <br>
           El gobierno del Juez Rosenkrantz será recordado entre los más oscuros de nuestra historia, 
           por la crueldad de su aparato represivo, la parcialidad de su sistema judicial y la manipulación
            de los medios de comunicación, especialmente internet. Un amplio abanico de influencers de
             ultraderecha, entre los que destacan Agustín Laje, Danann y Francisco Onetto, “el Boga nivel Dios”,
              conforman auténticos tribunales mediáticos, promoviendo el linchamiento virtual de quienes apuntan 
              con sus videos, escrachándolos, dejándolos a punto caramelo para ser rematados por el sistema
               judicial, que no hace más que refrendar las condenas mediáticas. La famosa “batalla cultural” 
               persigue fundamentalmente la desaparición virtual
            de los disidentes y la cárcel para disidentes más peligrosos, sin más vueltas
        </p>
</div>
</div>
</div>
<img src="../../footerp12.png" class="m-auto px-20">
</div>
<div class="m-auto w-40 py-10" >
    <a class="mr-30" href=" /"><img src="../../botones_volver.jpg"/></a>
    </div>
</div>
<Footer />
</div>
</body>
</html>