---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Botonera from '../components/Botonera.astro';
import Video_card from '../components/Video_card.astro';
import Tarjeta_capitulo from '../components/Tarjeta_capitulo.astro';
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"></meta>
  

</head>
<body>
<div>
<img src="../../portadacap3.png" alt="">
</div>
<div>
    <img class="m-auto w-3/4" src="../../titulo_cap3.png" alt="">
    </div>
    <div>
        <img class="m-auto w-3/4 pt-10 pb-20" src="../../acopoque_cap3.png" alt="">
        </div>
        <div class="py-2 m-auto w-full" >
            <iframe style="width: 750px; height:450px; border:solid; border-color:blue; margin: auto; padding top:50px; padding" src="https://www.youtube.com/embed/8Jn7ofxJplw"  allow="autoplay; encrypted-media" allowfullscreen></iframe>

            </div>
<div class="text-justify px-40 py-20 w-full text-2xl">

    <h1 >
        La mítica dirigente peronista, dos veces presidenta, vicepresidenta en ejercicio, y 
        líder política con mayor popularidad de los últimos veinte años, fue herida de suma gravedad
         por dos proyectiles de grueso calibre, mientras pronunciaba su discurso de cierre de campaña
          en apoyo a los candidatos de Unión por la Patria, ante una Plaza de Mayo repleta. Una bala rozó
           su pómulo derecho, comprometiendo el globo ocular, mientras que la otra penetró justo encima
            de su corazón, esquivando milagrosamente la aorta y terminando por alojarse en su omoplato 
            izquierdo. Se encuentra internada en el Sanatorio de la Trinidad, adonde fue trasladada de
             inmediato a bordo del helicóptero presidencial, para ser intervenida quirúrgicamente. Aunque
              aún no habría ningún sospechoso detenido, la Policía Metropolitana allanó unos cuantos
               edificios aledaños desde donde pudieron haberse efectuado los disparos	
    </h1>
</div>

    <iframe style="width: 750px; height:450px; border:solid; border-color:blue; margin: auto; padding top:50px;" src="https://www.youtube.com/embed/Y5ZTZCi9Tc4"  allow="autoplay; encrypted-media" allowfullscreen></iframe>



 <div class="text-justify px-40 pt-20 w-full text-2xl">
    <h1>
        Patricia Bullrich, exministra de Defensa, tomó el control de la Gendarmería Nacional, sirviéndose de dicha fuerza como
si se tratara de su propio ejército, ocupándose personalmente de resguardar a la Corte Suprema y custodiar el cuerpo
inconsciente de Cristina; perfectamente coordinada con la Policía Metropolitana, encargada de impedir el acceso de los
manifestantes a Casa de Gobierno, alfombrando de cadáveres la plaza. Así fue que la grieta se volvió abismo, un abismo
imposible de reconciliar, de volver atrás<br>
Javier Milei y Patricia Bullrich, candidatos opositores a la Presidencia de la Nación, exigen la suspensión de las eleccio-
nes generales, la inmediata renuncia del Poder Ejecutivo y la convocatoria a una Asamblea General Constituyente, que
entregue el poder a los jueces Rosenkrantz y Rosatti,, terceros en la línea sucesoria. Cuentan las malas lenguas que fue
el propio jefe de Policía quien advirtió al presidente de la Nación, que sólo le permitiría ingresar a su despacho renuncia
indeclinable en mano <br>
Muchos dan a Cristina por muerta, seguros de que los medios ocultan la funesta noticia por temor a una reacción popular
incontenible; otros la consideran una presa política, pugnando por rescatarla del Sanatorio de la Trinidad, combatiendo
incansablemente contra las fuerzas de la Gendarmería; pero, para la mayoría, ese cuerpo dormido, entregado al limbo
onírico del coma, fue convirtiéndose en el símbolo de la resistencia
    </h1>
 </div>

<div>

<div class="pt-60">
<img src="../../footer_destape.png"/>
</div>
<div class="m-auto w-40 pt-60 pb-20" >
    <a class="mr-30 pb-20" href=" /"><img src="../../botones_volver.jpg"/></a>
    </div>
<div>
<Footer />
</div>
</body>
</html>