---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navegador from '../components/Navegador.astro';
import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Botonera from '../components/Botonera.astro';
import Video_card from '../components/Video_card.astro';
import Tarjeta_capitulo from '../components/Tarjeta_capitulo.astro';
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"></meta>
  

</head>
<body>
<div>
<img src="../../portadacap1.png" alt="">
</div>
<div class="px-20 pb-10">
    <img src="../../acopoqueCap1.png" alt="">
    </div>

<h1 class="px-40 pb-10 bold font-bold text-2xl">
    PUERTO RICO FINALMENTE SE CONVIERTE EN EL ESTADO NUMERO 51</h1>
    <p class="px-40 pb-10 text-2xl">
    Después de 80 años de funcionar como estado libre asociado, Puerto Rico se convierte
    en otro de los Estados Unidos de América, con igual rango que cualquiera de sus pares
</p>
<div class="m-auto w-3/4 pb-10 ">
    <img src="../../pricobandera.png" alt="">
    </div>

    <p class="px-40 pb-10 text-2xl">
        Por las calles de la ciudad de San Juan, así como por toda la isla, el pueblo de Puerto Rico festeja su incorporación
definitiva a los Estados Unidos de América, con plenos poderes, derechos y obligaciones, tras más de medio siglo de
ser considerados ciudadanos de segunda categoría. La Casablanca prepara un paquete de asistencia económica y
financiera de gran envergadura, que permitirá a la nación caribeñadesarrollarse rápidamente, incluyendo importantes
subsidios y exenciones de impuestos para la producción farmacológica. La ceremonia fue presidida por el Golden Boy
de la política norteamericana, el embajador Jack Schlossberg Kennedy, nombrado especialmente por la presidenta
Kamala Harris
    </p>
    <div class="flex">
        <div class="w-1/2">
        <p class="pl-40 w-full text-2xl">
            Sorprendió a toda la comunidad internacional, la invitación
            explícita lanzada por el emajador Kennedy al resto de los
            países americanos a seguir el camino de Puerto Rico: -¿Cuál
            será el estado número 52? -preguntó con sorna y a modo
            de desafío en el clímax de su discurso- Ya no son tiempos de
            muros que dividan a los pueblos de nuestro continente, sino
            de nuevos lazos que fortalezcan nuestra unión; no podemos
            seguir refiriéndonos a Norte, Centro y Sudamérica, como a
            territorios extranjeros, sino procurar desarrollarnos de manera
            homogénea<br>
            Pero el embajador Kennedy llegó más lejos aún, planteando
la necesidad de llevar a cabo una profunda autocrítica:
_”América para los americanos”, jamás debió entenderse como
un plan estratégico de dominación, sino como un compromiso
profundo con nuestros hermanos continentales. La famosa
doctrina Monroe merece ser revisada y actualizada, ya que
nuestro destino manifiesto no consiste en ser explotadores de
nuestros vecinos, sino en convertirnos en el motor de su
desarrollo, brillando como un auténtico faro de libertad. Puerto
Rico no será el último de los estados norteamericanos, sino la
primera de las Naciones Unidas de América, el proyecto de una
América unida y desarrollada desde Alaska hasta Tierra del
Fuego -y mientras pronunciaba estas palabras, podían entre-
verse entre sus rasgos los rasgos de su abuelo, el ilustre John
FitzGerald Kennedy
        </p>
    </div>
        <div class="px-6 mr-20" style="width:450px;">
        <img src="../../kennedy.png" alt="">
    </div>
    </div>
<div>
    <p class="pl-40 w-full text-2xl">
        Un nuevo paradigma asoma en el horizonte, muy distinto del imperante los siglos precedentes. Las elites conserva-
doras, los adoradores del primer mundo y cultores del libre mercado, se muestran dispuestos a celebrar cualquier
sacrificio ante la perspectiva de formar parte del Imperio. ¿Acabarán las profundas desigualdades que afligen a nuestro
continente, o simplemente se trata de una nueva oportunidad para llevar a cabo negocios multimillonarios, a costa del
sometimiento de los más débiles? <br>
Aquí comienza el más increíble capítulo de nuestra historia: las Naciones Unidas de América
    </p>
</div>
</div>
<div class="w-1/2 m-auto pt-40">
   
    <img src="../../footerCap1.png" alt="" />
</div>

<div class="m-auto w-40 py-10" >
    <a class="mr-30" href=" /"><img src="../../botones_volver.jpg"/></a>
    </div>
 
  
</body>
</html>