---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navegador from '../components/Navegador.astro';
import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Botonera from '../components/Botonera.astro';
import Video_card from '../components/Video_card.astro';
import Tarjeta_capitulo from '../components/Tarjeta_capitulo.astro';
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <head>

<div >
    <img class="m-auto py-10" src="../../Convocatoria1.jpg" alt=""/ >
</div>
<div>
    <h1 class="m-auto py-10 px-60 pb-20 bold font-bold">
        Escribinos detallando:<br>

        Nombre y Apellido<br>
CUIT o CUIL:<br>
Telefono<br>
Mail<br>
Bio<br>
Formato<br>
Breve descripción de la Idea<br>

    </h1>
<div class="m-auto">
    <a  href="mailto:lasnacionesunidasdeamerica@gmail.com">lasnacionesunidasdeamerica@gmail.com</a>
  </div>
  </div>


</div>
<div class="m-auto w-40 py-20" >
<a class="mr-30 pb-20" href=" /"><img src="../../botones_volver.jpg"/></a>
</div>
</html>