---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Botonera from '../components/Botonera.astro';
import Video_card from '../components/Video_card.astro';
import Tarjeta_capitulo from '../components/Tarjeta_capitulo.astro';
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <head>

<div >
    <img class="m-auto py-10" src="../../Convocatoria2.jpg" alt=""/ >
</div>
<div>
    <h1 class="m-auto py-10 px-60 pb-20 bold font-bold">
        Escribinos detallando:<br>

        Nombre y Apellido<br>
CUIT o CUIL:<br>
Telefono<br>
Mail<br>
Bio<br>
Formato<br>
Breve descripción de la Idea<br>

    </h1>
    <div class="flex">
    
    <a href="mailto:[lasnacionesunidasdeamerica@gmail.com]?subject=[Convocatorias]&body=[Hola!]" class=" m-auto py-2 px-4 my-2 w-40"><img  src="../../gmail_logo.png" alt=""/></a>
    <a class="w-20 mx-40" href="https://www.facebook.com/LasNacionesUnidasDeAmerica/" target="_blank"><img src="../../fb_logo.png" alt=""></a>
    <a class="w-20" href="https://www.instagram.com/lasnacionesunidasdeamerica/" target="_blank"><img src="../../ig_logo.png" alt=""></a>
    <a class="w-20 mx-40" href="https://www.youtube.com/channel/UCo9LGNZ8_bA_26y2BWrrJ2w" target="_blank"><img src="../../yt_logo.png" alt=""></a>
    <a href="https://wa.me/05491166838494" target="_blank" class="m-auto px-4 my-2 w-40"><img  src="../../wsp.png" alt=""/></a>
  </div>
  </div>


</div>
<div class="m-auto w-40 py-20" >
<a class="mr-30 pb-20" href=" /"><img src="../../botones_volver.jpg"/></a>
</div>

<Footer />
</html>