---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navegador from '../components/Navegador.astro';
import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Botonera from '../components/Botonera.astro';
import Video_card from '../components/Video_card.astro';
import Tarjeta_capitulo from '../components/Tarjeta_capitulo.astro';
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <head>

<div >
<img class="m-auto" src="../../portadaedi1.png" alt="">
</div>
<div>
    <h1 class="px-60 pb-20 bold font-bold">
        Durante el verano de 2022, hace poco más de un año, escribí la primera temporada de es-
        ta novela/serie digital, una distopía política en la que los Estados Unidos se lanzan a la
        conformación de «Las Naciones Unidas de América», promoviendo la incorporación del
        resto de los países del continente al flamante imperio.<br>
        Con algo de sorpresa, fuí comprobando que muchos de los hechos anticipados en la no-
        vela van cumpliéndose paulatinamente: el atentado contra Cristina Fernández de Kirchner,
        la incorporación defnitiva de Puerto Rico como el estado número 51, las cárceles del
        Savador convertidas en campos de trabajos forzados, el intento de golpe de estado por
        obra de los seguidores de Bolsonaro, y muchas otras coincidencias más.<br>
        Por supuesto que se trata apenas de una obra de ficción, una fantasía épica, local y actual,
         en la que Henry Kissinger no tiene nada que envidiarle al Emperador Palpatine, Patri-
        cia Bullrich resulta ser una villana tan temible como Darth Vader, y por todo el territorio
        americano proliferan los héroes dispuestos a dar batalla contra el imperio, que pretende
        devorarnos a todos.<br>
        Mientras que la publicidad no tiene ninguna obligación de ser veraz, los medios de comunicación 
        sí deberían serlo. A las fake-news que la corporación periodística nos vende sistemáticamente, nosotros respondemos con estas fake-fictions. Porque puedo comprender
        que el poder se haya apropiado del capital, los medios de producción, los medios de comunicación
         y las fuerzas represivas, pero la ficción es el campo donde debemos dar batalla los artistas.
          plantando así nuestra resistencia contra toda forma de fascismo y opresión.<br>
          Para ustedes:
        
    </h1>

<a class="px-60 pb-20 bold font-bold" href=" /">Las Naciones Unidas de América - Primera Temporada
</a>   


</div>

<a class="mr-30 pb-20" href=" /"> VOLVER</a>

</html>