---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Botonera from '../components/Botonera.astro';
import Video_card from '../components/Video_card.astro';
import Tarjeta_capitulo from '../components/Tarjeta_capitulo.astro';
---
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/></head>
<Layout title="NUA">
	<main style="background-color: white;">
<div>
		<div>
			<Portada />
		</div>		

<div style="position:absolute; padding-bottom:30px; display:flex;" >

	<a href="#"><img src="anark.jpg" class="w-2/6 m-auto" alt=""></a>
	
</div>
<div>
<Botonera />
</div>

<div>
<div class="left-0 mt-20 ml-4 transform -translate-y-1/2 flex flex-col items-center absolute z-10" style="top: 950px;">
    <!-- Tira de botones izquierda -->
    <a href="/Cap_1" class="py-2 px-4 my-2"><img style="width:200px;" src="../../cap_prico.png" alt=""></a>
    <a href="Cap_2" class="py-2 px-4 my-2 "><img style="width:200px;" src="../../cap_muro.png" alt=""></a>
    <a href="Cap_3" class="py-2 px-4 my-2 "><img style="width:200px;" src="../../cap_cfk.png" alt=""></a>
	<a href="/Cap_4" class="py-2 px-4 my-2 "><img style="width:200px;" src="../../cap_lanoche.png" alt=""></a>
	<a href="#" class="py-2 px-4 my-2 "><img style="width:200px;" src="../../cap_bloqueados.png" alt=""></a>
  </div>
</div>
	<div class="text-center my-4">
	<iframe style="width: 750px; height:450px; border:solid; border-color:blue; margin: auto; padding top:50px;" src="https://www.youtube.com/embed/1XCdzgv-ws4"  allow="autoplay; encrypted-media" allowfullscreen></iframe>

	<div style="display:flex">


<div style="display: flex;">
<div >
	<img style="padding-top:10px; margin-left: 420px;" src="VIDEOS.png" alt="">
</div>
<div>	
		<img style="padding-top:10px; margin-left: 220px;" src="FOTOS.png" alt="">
</div>
</div>

</div>


<div>
<Tarjeta_capitulo 
ImagenPrin = "../../tapa_video_trailer.jpg",
Imagen2  = "../../carta_cristina_presidenta.jpg",
Imagen3  = "../../carta_darth_bullrich.jpg",
Imagen4  = "../../carta_maestrahebe.jpg",
Imagen5  = "../../carta_lord_kissinger.jpg"
Sourc = "/Cap_1"
/>


</div>

<div>
	<Tarjeta_capitulo 
	ImagenPrin = "../../tapa_video_cap3_cfk.jpg",
	Imagen2  = "../../carta_obiwan_assange.jpg",
	Imagen3  = "../../carta_conde_bukele.jpg",
	Imagen4  = "../../carta_padawan_grabois.jpg",
	Imagen5  = "../../carta_darth_milei.jpg"
	Sourc = "../../Cap_3"
	
	/>
	
	
	</div>

	<div>
		<Tarjeta_capitulo 
		ImagenPrin = "../../tapa_video_navarro.jpg",
		Imagen2  = "../../carta_teniente_vier.jpg",
		Imagen3  = "../../carta_lord_rozencrantz.jpg",
		Imagen4  = "../../carta_navarro_solo.jpg",
		Imagen5  = "../../carta_juanita_la_cariniosa.jpg"
		Sourc = "../../Cap_3"
		/>
		
		
		</div>

		<div class="pt-20 pb-20">
			<iframe style="margin-left: 295px; border-radius:6% ;border: solid 8px blue; width: 370px; height: 230px;" src="https://www.youtube.com/embed/BIltaGud2vY"  allowfullscreen></iframe>

		</div>
		<div class="py-10">
			<iframe style="margin-left: 295px; border-radius:6% ;border: solid 8px blue; width: 370px; height: 230px;" src="https://www.youtube.com/embed/3Vo1drRaKwQ"  allowfullscreen></iframe>

		</div>
		<div class="py-10">
			<iframe style="margin-left: 295px; border-radius:6% ;border: solid 8px blue; width: 370px; height: 230px;" src="https://www.youtube.com/embed/ZCFI5tDm9oQ"  allowfullscreen></iframe>

		</div>


<div class="mt-60 mr-6 transform -translate-y-1/2 flex flex-col items-center absolute z-10" style="top: 850px; left: 1100px;">
    <!-- Tira de botones izquierda -->
    <a href="Convocatorias_1" target="_blank" class="py-2 px-4 my-2 " ><img style="width: 480px;"  src="../../Convocatoria2.jpg" alt=""/></a>
    <a href="mailto:[lasnacionesunidasdeamerica@gmail.com]?subject=[Convocatorias]&body=[Hola!]" class="py-2 px-4 my-2 w-60"><img  src="../../Convocatoria1.jpg" alt=""/></a>
    <a href="https://wa.me/05491166838494" target="_blank" class="py-2 px-4 my-2 w-60"><img  src="../../Convocatoria3.jpg" alt=""/></a>
	<a href="mailto:[lasnacionesunidasdeamerica@gmail.com]?subject=[Convocatorias]&body=[Hola!]" class="py-2 px-4 my-2 w-60"><img  src="../../Convocatoria4.jpg" alt=""/></a>
	
  </div>

<div class="flex ml-60 pt-60">
	<a class="w-20 mx-40" href="https://www.facebook.com/LasNacionesUnidasDeAmerica/" target="_blank"><img src="fb_logo.png" alt=""></a>
	<a class="w-20" href="https://www.instagram.com/lasnacionesunidasdeamerica/" target="_blank"><img src="ig_logo.png" alt=""></a>
	<a class="w-20 mx-40" href="https://www.youtube.com/channel/UCo9LGNZ8_bA_26y2BWrrJ2w" target="_blank"><img src="yt_logo.png" alt=""></a>
</div>




</div>
	<Footer />	
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
		
	</div>



</main>
<style>

@media (max-width: 769px) {
      main {
       width: 1350px; /* Limitar el ancho de la página para pantallas más grandes */
        margin: 0 auto; /* Centrar el contenido en pantallas más grandes */
      }
    }
</style>

		</html>
