---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navegador from '../components/Navegador.astro';
import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Video_card from '../components/Video_card.astro';
---

<Layout title="UNA">
	<main>

		<div>
			<Portada />
		</div>		
<div style="padding-bottom:30px;">
	<Navegador />
</div>
	

	<video src="../../video/promocional.mp4"  autoplay controls style="border:solid; border-color:blue; margin: auto; padding top:50px;" class="relative ml-3"></video>
	<div style="display:flex">

		<Video_card src_ ="../../pricobandera.png" texto_titulo ="PUERTO RICO, ESTADO 51" texto="Después de 80 años de funcionar como estado libre asociado, Puerto Rico se convierte en otro de los Estados Unidos de América, con igual rango que cualquiera de sus pares" />
	

	<Video_card src_="../../hebe.jpeg" texto_titulo="LA CAÍDA DEL MURO" texto="Millones de latinos confluyen espontáneamente hacia la frontera entre México y los Estados Unidos para derribar el muro, dando origen a las Naciones Unidas de América" 	/>
	
	<Video_card src_="../../darthbulrich.jpeg" texto_titulo="NUEVO ATENTADO CONTRA CFK" texto="La expresidenta yace en estado de coma, debatiéndose entre la vida y la muerte, tras haber recibido dos balazos en pleno discurso de cierre de campaña" />
	
</div>
<h2 class=" text-6xl font-bold tracking-tight sm:text-6xl py-6 px-100" style="font-family:Verdana, Geneva, Tahoma, sans-serif; margin-left: 400px; color:rgb(28, 28, 102)">CONVOCATORIA</h2>
<img src="../../convocatoria_sam.jpg" style ="margin:auto;">

<div>
	<Footer />	
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
		</main>
