---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navegador from '../components/Navegador.astro';
import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Botonera from '../components/Botonera.astro';
import Video_card from '../components/Video_card.astro';
import Tarjeta_capitulo from '../components/Tarjeta_capitulo.astro';
---

<Layout title="NUA">
	<main style="background-color:white;">

		<div>
			<Portada />
		</div>		

<div style="padding-bottom:30px; display:flex;" >
	<img src="sam2.jpg" class="w-20 m-auto" alt="">
	<img src="anark.jpg" class="w-2/6 m-auto" alt="">
	<img src="sam2.jpg" class="w-20 m-auto " alt="">
</div>
<div>
<Botonera />
</div>

<div>
<div class="left-0 mt-20 ml-10 transform -translate-y-1/2 flex flex-col items-center absolute z-10" style="top: 950px;">
    <!-- Tira de botones izquierda -->
    <a href="#" class="py-2 px-4 my-2"><img class="w-40" src="../../cap_prico.png" alt=""></a>
    <a href="#" class="py-2 px-4 my-2 "><img class="w-40" src="../../cap_muro.png" alt=""></a>
    <a href="#" class="py-2 px-4 my-2 "><img class="w-40" src="../../cap_cfk.png" alt=""></a>
	<a href="#" class="py-2 px-4 my-2 "><img class="w-40" src="../../cap_lanoche.png" alt=""></a>
	<a href="#" class="py-2 px-4 my-2 "><img class="w-40" src="../../cap_bloqueados.png" alt=""></a>
  </div>
</div>
	<div class="text-center my-4">

	<video src="../../video/promocional.mp4"  controls style=" width:750px; background-size: cover; background-image: url('../../public/tapa_video_trailer.jpg'); border:solid; border-color:blue; margin: auto; padding top:50px;" class="relative ml-3"></video>
	<div style="display:flex">




<div>
<Tarjeta_capitulo />


</div>

<div class="mt-60 mr-6 transform -translate-y-1/2 flex flex-col items-center absolute z-10" style="top: 950px; left: 1100px;">
    <!-- Tira de botones izquierda -->
    <a href="#" class="py-2 px-6 my-2" ><img style="width: 440px;" src="../../conv_sam.png" alt=""></a>
    <a href="#" class="py-2 px-4 my-2 w-60"><img  src="../../Convocatoria1.jpg" alt=""></a>
    <a href="#" class="py-2 px-4 my-2 w-60"><img  src="../../Convocatoria3.jpg" alt=""></a>
	<a href="#" class="py-2 px-4 my-2 w-60"><img  src="../../Convocatoria4.jpg" alt=""></a>
	
  </div>
</div>
	<Footer />	
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
		</main>
