---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navegador from '../components/Navegador.astro';
import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Botonera from '../components/Botonera.astro';
import Video_card from '../components/Video_card.astro';
import Tarjeta_capitulo from '../components/Tarjeta_capitulo.astro';
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <head>

<div >
<img class="m-auto pt-10" src="../../portadaproyuna.png" alt="">
</div>
<div>
    <h1 class="px-60 bold font-bold">
      Se trata de una novela/serie digital, una distopía situada a principios del 2024, en la que
      los Estados Unidos empiezan por darle categoría de estado pleno a Puerto Rico, abriendo
      
      la posibilidad al resto de los países del continente a seguir su mismo camino. Las oligarquías
       locales demuestran estar dispuestas a todo ante la posibilidad de formar parte del
      
      imperio, convulsionando la región hasta sus cimientos; caída del muro fronterizo, corchazo
      
      a Cristina, huelga de mujeres en Brasil... rápidamente van desencadenándose los acontecimientos, 
      desde el Río Bravo hasta Tierra del Fuego<br>
      
      Es digital, ya que irá publicándose a través de multiplataformas, interactuando con la realidad. 
      Todos los capítulos de la 1ra. temporada tienen formato de noticias publicadas por
      
      conocidos portales. Sin embargo, las temporadas siguientes no sólo serán noticias, todo
      lo que pueda ser publicado en internet, resulta válido<br>
      Otra particularidad consiste en que todos los personajes son tomados de la realidad: Milei,
      Bullrich, Cristina, Hebe de Bonafini (nuestro humilde homenaje a esta verdadera heroína),
      
      Kamala Harris, Bukele, Elon Musk, incluso también los personajes secundarios; pero también
       periodistas y youtubers que ofician de narradores, ya que esta obra explora los límites
       entre fantasía y realidad<br>

<img src="../../bandera.jpeg" style="width: 1200px;padding-top:20px;"/>
</h1>
  
<h1 class="px-60 py-6 bold font-bold">
  Y además, es de código abierto, permitiendo la participación de otros escritores, periodistas, creadores audiovisuales, ya sea aportando contenidos nuevos o reversionando los ya

existentes, actuando de sí mismos o inventando esta ficción de la realidad. Pero también

puede ser creador de este universo el púlico común, ya que todo aporte resulta bienvenido<br>

Es una oportunidad para esbozar la utopia, en esta época sin ideales brillando en el horizonte, 
dando batalla a los fascistas disfrazados de libertarios en el campo de la ficción;

porque puedo comprender que se apoderen del capital y de las fuerzas represivas, pero la
ficción es nuestro territorio</h1>

<a href=" /"> VOLVER</a>
</h1>
</div>
</html>