---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navegador from '../components/Navegador.astro';
import DropdownMulti from '../components/DropdownMulti.astro';
import Portada from '../components/Portada.astro';
import Botonera from '../components/Botonera.astro';
import Video_card from '../components/Video_card.astro';
import Tarjeta_capitulo from '../components/Tarjeta_capitulo.astro';
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <head>

<div >
<img class="m-auto" src="../../portadaaportantes.png" alt="">
</div>
<div>
    <h1 class="px-60 bold font-bold">
        Podés reconcer el valor de esta obra, promoviendo con tu aporte la producción de todo lo
        que nos falta por delante, con un aporte sugerido de $2.500, que es lo que vale un libro de
        los más baratos. Además recibirás material exclusivo, en esta ocasión, el texto completo
        de la 1ra. temporada<br>
        <br>
        
        O premiar un capítulo o publicación que te guste con un aporte único a la gorra, que permitirá 
        aumentar los ingresos de sus Creadores
<br>
<img class="m-auto py-4" src="../../textoCreadores.png" alt="">
<p class="text-center">
Una vez aprobado el material para ser publicado por el consejo editor, los creadores de
contenidos recibirán un básico al contado, más un bonus extra acorde con la difusión y 
popularidad de su creación
</p>

<img class="m-auto py-4" src="../../textoEspPublicitario.png" alt="">
<p class="text-center">
Disponibles
</p>
<img class="m-auto py-4" src="../../textoCbu.png" alt="">
<p class="text-center">
0140000703100055148513 - este.suela.coro
</p>
</h1>





</div>
<div class="m-auto font-bold pt-20" >

<a href=" /">VOLVER</a>   
</div>
</html>


