---
import Dropdown from "./Dropdown.astro";
import Dropdown_2 from "./Dropdown_2.astro";
import DropdownMulti_inst from "./DropdownMulti_inst.astro";
---
<div style="display: flex;">

    <a href="#"><img class="w-26 m-auto py-20 " src="../../boton_convocatorias.jpg"/></a>
 <div class=" m-auto py-20" style="display: flex; margin-auto">
  
    <a href="#"><img class="w-5/6 m-auto " src="../../boton_editorial.jpg"/></a>

    <a  href="#"><img class="w-5/6 m-auto " src="../../boton_comunidad.jpg"/></a>
  
    <a  href="#"><img class="w-5/6 m-auto " src="../../boton_proyecto_nua.jpg"/></a>
    
</div>
<a  href="#"><img class="w-26 m-auto py-20" src="../../boton_proyecto_nua.jpg"/></a>
</div>