---
import Dropdown from "./Dropdown.astro";
import Dropdown_2 from "./Dropdown_2.astro";
import DropdownMulti_inst from "./DropdownMulti_inst.astro";
---
<div style="display: flex;">

    <a href="#"><img class="w-3/4 m-auto py-2 " src="../../botones_1.jpg"/></a>
 <div class=" m-auto " style="display: flex; margin-auto">
  
    <a href="/Editorial_2"><img class="w-4/6 m-auto pt-40" src="../../botones_2.jpg"/></a>

    <a  href="/Suscribite"><img class="w-4/6 m-auto pt-40" src="../../botones_3.jpg"/></a>
  
    <a  href="/Proyectouna"><img class="w-4/6 m-auto pt-40" src="../../botones_4.jpg"/></a>
    
</div>
<a href="#" ><img class="w-3/4 m-auto py-2 " src="../../botones_5.jpg"/></a>
</div>