---
import Dropdown from "./Dropdown.astro";
import DropdownMulti_inst from "./DropdownMulti_inst.astro";
---
<div style="display: flex;">

 <Dropdown />

    <a href="#"><img class="w-3/4" img src="../../boton_editorial.jpg"/></a>
    <a  href="#"><img class="w-3/4" src="../../boton_comunidad.jpg"/></a>
    <a  href="#"><img class="w-3/4" src="../../boton_proyecto_nua.jpg"/></a>
    <Dropdown />
</div>