
<button id="multiLevelDropdownButton" data-dropdown-toggle="dropdown_2" class="text-white bg-sky-950 hover:bg-gray-600 focus:ring-2 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button"><img src="boton_1ra_temporada.jpg" style="width:120px;"/><svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
<!-- Dropdown menu -->
<div id="dropdown_2" class="z-10 hidden bg-sky-950 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-white dark:text-gray-200" aria-labelledby="multiLevelDropdownButton">
      <li>
           
      </li>
      <li>
        <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown" data-dropdown-placement="right-start" type="button" class="flex items-center justify-between w-full px-4 py-2 hover:bg-sky-950 dark:hover:bg-sky-950 dark:hover:text-white">FN - Temporada 1<svg aria-hidden="true" class="w-4 h-4 dark:hover:bg-gray-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg></button>
         
        
            <ul class="py-2 text-sm text-white dark:text-white" aria-labelledby="doubleDropdownButton">
              
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white">Puerto Rico Estado 51</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white">Caída del Muro</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white">Atentado contra CFK</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white">La Noche Interminable</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white" style="color:rgb(131, 129, 129)">Liberación del Maldonado</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white" style="color:rgb(131, 129, 129)">Juicio a la Vuela</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white" style="color:rgb(131, 129, 129)">SmartCitys</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white" style="color:rgb(131, 129, 129)">Golpe comando a Lago Escondido</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white" style="color:rgb(131, 129, 129)">Batalla de Puente La Noria</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white" style="color:rgb(131, 129, 129)">El Kollasuyo</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white" style="color:rgb(131, 129, 129)">Gobierno Blockchain</a>
              </li>
            </ul>
            
       
      </li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-white" style="color:rgb(131, 129, 129)">FN - Temporada 2</a>
      <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-white" style="color:rgb(131, 129, 129)">FN - Temporada 3</a>
      <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-white" style="color:rgb(131, 129, 129)">FN - Temporada 4</a>

    </ul>
</div>
