


<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="w-3/4 text-white hover:bg-blue-800  focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 mb-10 text-center inline-flex items-center w-1/6" type="button"><img src="../../boton_convocatorias.jpg" alt=""> <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="mr 2 6 6 6 6"/>
  </svg></button>
<!-- Dropdown menu -->
<div id="dropdown" class="z-10 hidden  divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
      <li>
        <a href="#" class="block w-2/6 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><img src="../../convocatoria_sam.jpg"/></a>
      </li>
      <li>
        <a href="#" class="block w-2/6 px-4 py-2  hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><img src="../../Convocatoria1.jpg"/></a>
      </li>
      <li>
        <a href="#" class="block w-2/6 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><img src="../../Convocatoria2.jpg"/></a>
      </li>
      <li>
        <a href="#" class="block w-2/6 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><img src="../../Convocatoria3.jpg"/></a>
      </li>
    </ul>
</div>