<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-sky-950 hover:bg-gray-600 focus:ring-2 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Institucional<svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
<!-- Dropdown menu -->
<div id="dropdown" class="z-10 hidden bg-sky-950 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-sky-950">
    <ul class="py-2 text-sm text-white dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
   
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white">Proyecto U.N.A.</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white">Primer Editorial</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white" style="color:rgb(131, 129, 129)">Segunda Editorial</a>
      </li>
    </ul>
</div>