---
---


<div style="margin-left:250px;padding-top:20px;display:flex;">
   <a href="#" > <img src="../../tapa_video_trailer.jpg" style="border:solid blue; widht:180px; height:270px;" alt="">
   </a>

   <div>
<div>
   <div style="padding-left:5px; display:flex;" >
      
   <a  href="#" class="w-60"> <img src="../../carta_cristina_presidenta.jpg"  alt="">
   </a>
   <a style="padding-left:5px;" href="#" class="w-60"> <img src="../../carta_darth_bullrich.jpg"  alt="">
   </a>
   </div>
   <div style="padding-left:5px; padding-top:5px; display:flex;" >
      
      <a  href="#" class="w-60"> <img src="../../carta_maestrahebe.jpg" alt="">
      </a>
      <a class="w-60" href="#"> <img src="../../carta_lord_kissinger.jpg"  alt="">
      </a>
      </div>
</div>


</div>


