---
---


<div style="padding-left:275px; padding-left:175px;padding-top:20px;display:flex;">
   <a href="#"> <img src="../../public/tapa_video_navarro.jpg" style="width:490px; height:300px; border:solid blue" alt="">
   </a>
   <div style="padding-left:5px; display:flex;" >
   <a  href="#"> <img src="../../public/tapa_video_cap3_cfk.jpg" style="width:240px; height:140px; border:solid blue" alt="">
   </a>
   <a style="padding-left:5px;" href="#"> <img src="../../public/tapa_video_lord_kissinger.jpg" style="width:240px; height:140px; border:solid blue; margin-right:200px;"  alt="">
   </a>
</div>

</div>